<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <!-- left motor -->
        <joint name="left_wheels_base_left_motor_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <!-- right motor -->
        <joint name="right_wheels_base_right_motor_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <!-- left front wheel -->
        <joint name="left_wheels_base_left_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <!-- left back wheel -->
        <joint name="left_wheels_base_left_back_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <!-- right front wheel -->
        <joint name="right_wheels_base_right_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <!-- right back wheel -->
        <joint name="right_wheels_base_right_back_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

    </ros2_control> 
    
    <!-- gazebo_ros2_control plugin -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find fetchbot_description)/config/my_controllers.yaml</parameters>
            <controller_manager_name>simulation_controller_manager</controller_manager_name>
        </plugin>
    </gazebo>

    <gazebo reference="base_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="left_wheels_base_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="right_wheels_base_link">
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="left_motor_link">
        <material>Gazebo/Purple</material>
    </gazebo>

    <gazebo reference="right_motor_link">
        <material>Gazebo/Purple</material>
    </gazebo>

    <gazebo reference="left_front_wheel_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="left_back_wheel_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="right_front_wheel_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="right_back_wheel_link">
        <material>Gazebo/Blue</material>
    </gazebo>

</robot>
